.root {
  width: 100%;
}
.summary {
  list-style: none;
  cursor: pointer;
  user-select: none;

  &::-webkit-details-marker {
    display: none;
  }
}
.title {
  position: relative;

  &::before,
  &::after {
    @include abs-y;

    content: "";
    right: 0;
    width: fluid-to-laptop(20, 16);
    height: 2.5px;
    background-color: #000;
    border-radius: 10px;

    @include laptop {
      height: 2px;
    }
  }
}
